.contact{
    background-color: rgb(252, 235, 245);
}

.heading{
    text-align: left;
    padding-left: 30px;
    color: rgb(55, 55, 55);
}


.contactContatiners{
    display: flex;
}

.container1{
    flex: 1;
}

#contactForm{
    padding: 30px;
}

.contactElements{
    width: 100%; 
    padding: 12px;
    border: none; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.list1{
    display: flex;
    padding: 10px;
     padding-left: 250px;
}

.list2{
    display: flex;
    padding: 10px;
    margin-left:140px;
   
}

.list1 li{
    list-style: none;
    color: rgb(103, 2, 43);
}

.list2 li{
    list-style: none;
    color: rgb(103, 2, 43);
    cursor: pointer;
}

.contactDetailIcon{
    padding-right: 20px;
    color:  rgb(103, 2, 43);
}

.contactIcons{
    display: flex;
    padding:20px 130px;

}

.icon1{
    padding: 10px;
    font-size: 30px;
}